# dependencies
**/node_modules
**/.pnpm-store
.pnpm-debug.log*

# next.js
**/.next/
**/out/

# nest.js
**/dist/

# production
**/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
**/next-env.d.ts

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
